<%= form_for @permitted_column_set do |f| %>

  <%= render 'errors', object: @permitted_column_set %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </p>

  <p>
    <%= f.label :permitted_table %>
    <%= f.collection_select(:permitted_table_id, PermittedTable.all, :id, :name) %>
  </p>

  <%= f.submit %>

<% end %>
