<%= form_for @book do |f| %>

  <%= render 'errors', object: @book %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :isbn %>
    <%= f.number_field :isbn %>
  </p>

  <div>
    <%= f.label :authors %>
    <%= f.collection_check_boxes(:author_ids, Author.all, :id, :name) %>
  </div>

  <%= f.submit %>

<% end %>
