<div>
  <%= link_to 'Users', users_path %>
  <%= link_to 'New User', new_user_path %>

  <%= link_to 'Roles', roles_path %>
  <%= link_to 'New Role', new_role_path %>

  <%= link_to 'Libraries', libraries_path %>
  <%= link_to 'New Library', new_library_path %>

  <%= link_to 'Books', books_path %>
  <%= link_to 'New Book', new_book_path %>

  <%= link_to 'Authors', authors_path %>
  <%= link_to 'New Author', new_author_path %>

  <%= link_to 'Addresses', addresses_path %>
  <%= link_to 'New Address', new_address_path %>

  <%= link_to 'Queries', queries_path %>
  <%= link_to 'New Queries', new_query_path %>

  <%= link_to 'Permitted Tables', permitted_tables_path %>
  <%= link_to 'New Permitted Table', new_permitted_table_path %>

  <%= link_to 'Permitted Column Sets', permitted_column_sets_path %>
  <%= link_to 'New Permitted Column Set', new_permitted_column_set_path %>

  <% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% end %>
</div>